<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>用户服务协议</title>
</head>
<body>
<div class="cons">
    <div>
        <div class="loc_name">服务协议</div>
        <div>
            <div>
                轻轻考是由北京轻轻考教育科技有限公司主办的以资讯与电子商务为一体的网站，为了更好的为用户提供安全便利的购物体验， 特制定以下服务协议，请用户在注册前仔细阅读本协议，本协议在用户注册后生效。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>用户注册</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.用户注册是指用户登陆轻轻考，按要求填写相关信息并确认同意本服务协议的过程。用户注册成功后，轻轻考将为用户开通作为用户在轻轻考交易及使用轻轻考服务时的唯一身份标识，该账户的登录名和密码由用户负责保管。如果一个账户，用户使用轻轻考，用户有责任对用户的账户和密码保守秘密并对进入用户的计算机作出限制，并且用户同意对在用户的账户和密码下发生的所有活动承担责任。</div>
            <div>
                &nbsp;</div>
            <div>
                2.轻轻考用户必须是具有完全民事行为能力的自然人，或者是具有合法经营资格的实体组织。无民事行为能力人、限制民事行为能力人以及无经营或特定经营资格的组织不得注册为轻轻考用户或超过其民事权利或行为能力范围与轻轻考进行交易，如与轻轻考进行交易的，则服务协议自始无效，轻轻考有权立即停止与该用户的交易、注销该用户账户，并有权要求其承担相应法律责任。</div>
            <div>
                &nbsp;</div>
            <div>
                3.轻轻考企业会员及分销商的注册，享有普通用户的一切权利与义务，已经成为轻轻考加盟商的企业会员，享有特殊的权利，具体以合同为准。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>合同订立</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1. 用户通过轻轻考订购商品，订单即为购买商品的合约，轻轻考向用户发出确认收到订单及送货确认内容的电子邮件，或直接将商品发送至用户指定地址时，构成轻轻考对该订单的承诺，此时合同即刻成立。 轻轻考有权在发现轻轻考上显示的商品信息错误或缺货的情况下，撤回或修改该商品信息，轻轻考保留对商品订购数量的限制权。</div>
            <div>
                &nbsp;</div>
            <div>
                2.用户下订单即表示其对在订单中提供的信息的真实性负责，轻轻考上显示的每一商品的价格都包含了增值税(按照法定税率)，送货费用根据用户选择的送货方式另外进行结算，轻轻考有权更改上述有关价格和送货费用的信息。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>用户权利义务</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.用户有权拥有其在轻轻考的用户名及密码，并用该用户名和密码登陆轻轻考购买商品，用户不得以任何形式转让或授权他人使用自己的轻轻考用户名。</div>
            <div>
                &nbsp;</div>
            <div>
                2.用户有权根据本协议的规定以及轻轻考上发布的相关规则在轻轻考上查询商品信息、发表商品评论、参与商品讨论、参加轻轻考的有关活动，以及享受轻轻考提供的其它信息服务。</div>
            <div>
                &nbsp;</div>
            <div>
                3.用户有义务在注册和通过电话购物时提供自己的真实资料，并保证诸如电子邮件地址、联系电话、联系地址、邮政编码等内容的有效性及真实性，保证轻轻考可以通过上述联系方式与用户本人进行联系。同时，用户也有义务在相关资料发生变更时及时更新有关注册资料，用户保证不以他人资料在轻轻考进行注册和购买商品。</div>
            <div>
                &nbsp;</div>
            <div>
                4. 用户应当保证在轻轻考购买商品过程中遵守诚实信用原则，不扰乱网上交易的正常秩序。</div>
            <div>
                &nbsp;</div>
            <div>
                5.用户享有言论自由权利，并拥有适度修改、删除自己发表的文章的权利，用户在发表商品评论、圈子讨论等，除遵守本条款外，还应遵守该讨论区的相关规定。未经轻轻考同意，禁止用户在网站发布任何形式的广告。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>轻轻考权利义务</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.轻轻考有义务在现有技术上维护整个网上交易平台的正常运行，并努力提升和改进技术，使用户网上交易活动得以顺利进行。对用户在注册和使用轻轻考网上交易平台中所遇到的与交易或注册有关的问题及反映的情况，轻轻考应及时作出回复。</div>
            <div>
                &nbsp;</div>
            <div>
                2.轻轻考有权对用户的注册信息及购买行为进行查阅，发现注册信息或购买行为中存在任何问题的，有权向用户发出询问及要求改正的通知或者作出删除等处理。</div>
            <div>
                &nbsp;</div>
            <div>
                3.用户违反本协议规定或有违反法律法规和地方规章行为的，轻轻考有权停止传输并删除其信息，禁止用户发言、注销用户账户并按照相关法律规定向相关主管部门进行披露。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>网站规则</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.轻轻考将尽最大努力保证用户所购商品与网站上公布的价格一致，但价目表并不构成要约，尽管做出最大的努力，轻轻考网站商品中的一小部分商品可能会有定价错误，如果某一商品的正确定价低于错误定价，轻轻考将按照较低的定价向用户销售该商品，如果某一商品的正确定价高于错误定价，轻轻考会根据具体情况，在交付前联系用户寻求指示, 或者取消订单并通知用户。</div>
            <div>
                &nbsp;</div>
            <div>
                2.用户希望购买的商品如果发生缺货，用户和轻轻考皆有权取消该订单，轻轻考可对缺货商品进行预售登记，轻轻考网站会尽最大努力在最快时间内满足用户的购买需求，当缺货商品到货，轻轻考将在第一时间通过邮件、短信或电话通知用户，方便用户进行购买，预售登记并不做订单处理，不构成要约。</div>
            <div>
                &nbsp;</div>
            <div>
                3.轻轻考保留通过邮件和短信的形式，对本网站及轻轻考购物用户发送订单信息、促销活动等告知服务的权利，如果在轻轻考注册、购物，则表明已默示接受此项服务。如不想接收来自轻轻考除订单以外的邮件和短信，可在轻轻考上办理退订手续。</div>
            <div>
                &nbsp;</div>
            <div>
                4.轻轻考将会把商品送到用户指定的收货地址，所有在轻轻考上列出的送货时间皆为参考时间，供用户参照使用，参考送货时间是根据库存状况、正常的处理过程和送货时间、送货地点等情况计算得出的。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>版权</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.轻轻考的图表、标识、网页页眉、按钮图标、文字、服务品名等标示在网站上的信息都属于众人教育网站网所有，受中国和国际知识产权法的保护。未经轻轻考许可，任何人不得使用、复制或用作其他用途。在轻轻考上出现的其他商标是其商标权利人各自的财产，未经轻轻考或相关商标所有人的书面许可，任何第三方都不得使用上述标示在轻轻考上的信息。</div>
            <div>
                &nbsp;</div>
            <div>
                2.轻轻考用户发表的文章仅代表作者本人观点，与轻轻考立场无关，作者责任自负。</div>
            <div>
                &nbsp;</div>
            <div>
                3.轻轻考有权将用户在本网站发表的商品评价、商品讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等，使用时需为作者署名，以发表文章时注明的署名为准，文章有附带版权声明者除外。</div>
            <div>
                &nbsp;</div>
            <div>
                4.用户在轻轻考上发表的文章及图片(包括转贴的文章及图片)版权仅归原作者所有，若作者有版权声明或原作从其它网站转载而附带有原版权声明者，其版权归属以附带声明为准。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>隐私保护</strong></div>
            <div>
                &nbsp;</div>
            <div>
                1.轻轻考将尽最大努力保证用户所购商品与网站上公布的价格一致，但价目表并不构成要约，尽管做出最大的努力，轻轻考网站商品中的一小部分商品可能会有定价错误，如果某一商品的正确定价低于错误定价，轻轻考将按照较低的定价向用户销售该商品，如果某一商品的正确定价高于错误定价，轻轻考会根据具体情况，在交付前联系用户寻求指示, 或者取消订单并通知用户。</div>
            <div>
                &nbsp;</div>
            <div>
                2.用户希望购买的商品如果发生缺货，用户和轻轻考皆有权取消该订单，轻轻考可对缺货商品进行预售登记，轻轻考网站会尽最大努力在最快时间内满足用户的购买需求，当缺货商品到货，轻轻考将在第一时间通过邮件、短信或电话通知用户，方便用户进行购买，预售登记并不做订单处理，不构成要约。</div>
            <div>
                &nbsp;</div>
            <div>
                3.轻轻考保留通过邮件和短信的形式，对本网站及轻轻考购物用户发送订单信息、促销活动等告知服务的权利，如果在轻轻考注册、购物，则表明已默示接受此项服务。如不想接收来自轻轻考除订单以外的邮件和短信，可在轻轻考上办理退订手续。</div>
            <div>
                &nbsp;</div>
            <div>
                4.轻轻考将会把商品送到用户指定的收货地址，所有在轻轻考上列出的送货时间皆为参考时间，供用户参照使用，参考送货时间是根据库存状况、正常的处理过程和送货时间、送货地点等情况计算得出的。</div>
            <div>
                &nbsp;</div>
            <div>
                <strong>条款修订</strong></div>
            <div>
                &nbsp;</div>
            <div>
                轻轻考有权根据需要不时地制定、修改本交易条款及各类特殊条款，并以网站公示的方式进行公告，不再单独通知用户，变更后的交易条款和特殊条款一经在网站公布后，立即自动生效，如用户不同意相关变更，应当立即停止从轻轻考购买商品或使用轻轻考网站服务。用户继续使用轻轻考购买商品或使用轻轻考服务的，即表示用户接受经修订的交易条款。
            </div>
        </div>
    </div>
</div>
</div>
<style>
    .loc_name {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 15px 0;
    }
    div {
        font-size: 14px;
    }
    body {
        color: #666;
        margin: 0 15px;
        padding-bottom: 20px;
    }
    strong {
        font-size: 15px;
    }
</style>
</body>
</html>