/*尾部上面*/
.footer-top{width: 100%;height: 178px;padding-top:60px;background-image: url(../images/footer-bg.jpg);background-repeat: repeat-x;}
.footer-topinner{width: 1200px;margin:0 auto;}
.footer-topinner ul{float: left;border-right:1px solid #363636;height:130px;}
.footer-topinner ul li{text-align: right;line-height:26px;}
.footer-topinner .about-ft li{padding:0 80px;}
.footer-topinner .pro-ft li{padding:0 70px 0 38px;}
.footer-topinner .news-ft li{padding:0 60px 0 40px;}
.footer-topinner .help-ft li{padding:0 56px 0 46px;}
.footer-topinner .erweima{padding-left:55px;}
.footer-topinner ul li a{font-size:14px;color:#a4a4a4;}
.footer-topinner ul li a:hover{color:#c40936;}
.footer-topinner ul .li-title {background-image:url(../images/footer-rednext.png);background-repeat:no-repeat;background-position:90% center;}
.footer-topinner ul .li-title a{font-size:16px;}
/*尾部下面*/
.footer-btm{width:100%;height:50px;background-color: #000;}
.footer-btm p{font-size: 12px;color:#a3a3a3;text-align: center;line-height:18px;}
/*新的*/
.footer.fixed{width: 100%;position: fixed;bottom: 0px;left: 0px;}
.home-footer {
    background: #333;
    padding: 40px;
    color: #fff;
}
.home-footer>div {
    height: 96px;
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}
.home-footer .footer-left {
    line-height: 28px;
    font-size: 12px;
}
.home-footer .footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.home-footer .footer-right li p {
    text-align: center;
}
.home-footer .footer-right li {
    width: 96px;
    text-align: center;
    font-size: 12px;
    margin-left: 25px;
}