body{min-width: 1200px;}
.header{width:100%; height:79px;min-width:1200px;position: absolute}
.header .top{ height:30px; background:#2c2c2c;}
.header .top_i{ width: 1200px;height:30px;}
.header .top .text{ height: 30px; display: block;}
.header .top .text .cur{color:#000; background: #fff;}
.header .top .text img{ display: block; margin-top:4px;}
.header .top .text a{float:left; margin:5px; margin-right: 15px; display: block; height: 24px; line-height: 24px; color: #787878; font-size: 12px; text-align: center;}
.header .header_i{ width: 1200px; position: relative;z-index:999;} 
.header_i i img{ display: block; margin-top: 14px; float:left;}
#nav{line-height:79px;list-style-type:none;float: right; margin-right: -95px;}
#nav a{display:block;width:95px;text-align:center}
#nav a:link{color:#fff;text-decoration:none}
#nav a:visited{color:#fff;text-decoration:none}
#nav a:hover{color:#FFF;text-decoration:none;}
#nav li{float:left;width:95px;}
#nav li a{ font-size: 16px;}
#nav li .curr{color: #fff; background: #0880b1;}
#nav li a.curre{color: #fff; background: #0880b1!important;}
#nav li a:hover{background:#119bd3;}
#nav li a.me{background:none; display: block; height: 79px; width: 95px;}
#nav li ul{line-height:27px;list-style-type:none;text-align:left;left:-999em;width:185px;position:absolute;border-top
:none; background:#0880b1;top:79px; z-index:999;clear:both;}
#nav li ul li{float:left;width:185px; border-bottom:#048cc3 1px solid; height:54px; line-height:54px; text-align: center;}
#nav li ul a{display:block;width:177px;height:auto;margin:0 auto;text-align:left;padding-left:8px;font-size: 14px; color:#fff;}
#nav li ul a:link{color:#fff;text-decoration:none}
#nav li ul a:visited{color:#fff;text-decoration:none}
#nav li ul a:hover{text-decoration:none;font-weight:400;background:#0880b1}
#nav li:hover ul{left:auto}
#nav li.sfhover ul{left:auto}
.header_i .mor{position: absolute; right: 0; width:95px; height:79px;z-index:10000;}
.header_i .mor ul{ line-height: 27px;width:180px; border: 1px solid #e4e4e4; border-top
:none; background:#119bd3;height: auto;}
.header_i .mor ul li{float:left;width:180px; border-bottom:#e13460 1px solid; height:54px; line-height:54px; text-align: center; background:#119bd3}
.header_i .mor ul li a{display:block;width:165px;height:auto;margin:0 auto;text-align:left;padding-left:15px;font-size: 14px; color:#fff;}
.header_i .mor ul li a:link{color:#fff;text-decoration:none}
.header_i .mor ul li a:visited{color:#fff;text-decoration:none}
.header_i .mor ul li a:hover{text-decoration:none;font-weight:400;background:#119bd3}
.header_i .mor ul{ background: #14a6e1;position: relative;bottom: 0px;left:-1px;*+bottom:5px;}
.header_i .mor ul li{ border-color: #14acea;}
.header_i .mor ul li a:hover{ background:#119bd3;}
.header_i .color{background: #14a6e1;}
.header_i .mor img{display: block; margin:32px auto;*margin-top: 32px; cursor: pointer;}

#nav li a.ahover.navbj{ color:#fff;}

.nav { width: 665px; height: 100%; float: right; }
.nav a.ahover{ display: block; width: 95px; height:79px; float: left; position: relative; cursor: pointer; -webkit-transition-duration: .5s; transition-duration: .5s; perspective: 200px;position: relative; overflow: hidden;}
.nav a .three-d{transition: all .3s ease-out;transform: translateZ(-40px);transform-style: preserve-3d;pointer-events: none;position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
.nav li a .navCn {transform: rotatex(0deg) translatez(40px);width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;}
.nav a .navEn {transform: rotatex(90deg) translatez(40px); width: 100%; height: 100%; position: absolute; left: 0px; top: 0;  line-height: 80px; font-weight: bold; text-align: center; color: #FFFFFF; /*opacity: 0;*/  background:#0880b1;opacity: 0;transition:all .5s;-webkit-transition:all .5s;}
.nav a .navCn,.nav a .navEn{pointer-events: none;box-sizing: border-box;}
.nav a:hover .three-d,.nav a.active .three-d{transform: translateZ(-40px) rotatex(-90deg);}
.nav a:hover .navEn,.nav a.active .navEn{opacity: 1;}
.nav li a:hover {/* background: #15499a;*/ }
/*.nav a:hover .navCn { opacity: 0; }
.nav a:hover .navEn { opacity: 1; }*/

/*ie7兼容*/
.navenie7{*+display:none;display:none\9;}




