@font-face {
  font-family: 'Mazda Regular';  
  src:url('../fonts/MAZDA_RG_0.TTF');     
}
.layui-layer-setwin .layui-layer-close2{*+right:10px!important;}
.main-wrap{width:1200px;}
.main-tab{width:1200px;position:relative;z-index:999;}
.main-tab-nav{width:1200px;height:188px;border:1px solid #f4f4f4;}
.main-tab-nav ul li{ cursor:pointer;display:block;float:left;width:299px;height:189px;border-right:1px solid #f4f4f4;position:relative;}
.main-tab-nav ul li.li-end{border-right:none;}
.main-tab-nav ul .mainpicbox{background:url(../images/hg1.jpg) no-repeat;}
.main-tab-nav ul .mainpicbox1{background:url(../images/hg2.jpg) no-repeat;}
.main-tab-nav ul .mainpicbox2{background:url(../images/hg3.jpg) no-repeat;}
.main-tab-nav ul .mainpicbox3{background:url(../images/hg4.jpg) no-repeat;}
.main-tab-nav ul li .main-text{width:233px;height:150px;margin:18px 0 0 30px;}
.main-tab-nav ul li .main-text p{ text-align:center;}
.main-text .text-p{font-size:18px;margin-top:10px;}
.main-text .text-p-wb{font-size:12px;color:#9c9c9c;line-height:18px;}
.main-wrap-box{overflow: hidden; display: none;top:0px;}
.main-wrap-box.on{display: block;}

.main-wrap-box img{overflow: hidden;}
.main-news{width:100%;height:auto;overflow:hidden;margin-top:62px;}
.new-main{width:1200px;height:auto;overflow:hidden;}
.new-nav{font-size:12px;margin:0 auto;height: auto;overflow: hidden;}
.new-nav ul li{display:block;float:left;font-size:16px;width:75px;height:24px;text-align:center;margin-left:38px; cursor:pointer;}
.new-nav ul li.active{display:block;border-bottom:2px solid #da291c;cursor:pointer;}
.new-pic-lr{width:1200px;height:410px;margin-top:52px;display:none;}
.new-pic-lr.on{display:block;}
.new-pic-lr .hd2 a{position: absolute;top:150px;cursor: pointer;}
.new-pic-lr  .hd2 a.next{left: 0px;}
.new-pic-lr  .hd2 a.prev{right: 0px;}
.new-picslider{height:300px;}
.new-imgbox{width:331px;height:366px;color:#3d3d3d;}
.new-imgbox h3{font-size:18px;border-bottom:1px solid #efefef;padding-bottom:8px;margin-left:10px;}
.new-imgbox .box-bt{font-size:21px;margin-top:18px;height:40px;/*font-weight:600*/;}
.new-imgbox .img{margin-top:22px;}
.new-imgbox .new-text{font-size:14px;line-height:22px;margin-top:16px;color:#acacac;}
.xq-btn{width: 121px;}
.xq-btn a{width:121px;height:38px;line-height:38px; text-align:center;display:block;border:2px solid #393939;margin-top:51px;font-size:14px;color:#474747;border-radius:50px;}
.xq-btn a:hover{color:#000;border:2px solid #990000;}
.new-picslider ul li{float:left;width:331px;margin: 0 15px;}
.new-picslider .tempWrap{margin: 0 auto}
.new-main2{margin-top:20px;}
.cooperative-partner{width:1200px;height:155px;margin-top:23px;}
.cooperative-partner ul li{width:211px;height:66px;line-height:66px;display:block;float:left;border:1px solid #ededed;margin:0 10px 0 10px;margin-bottom:20px;*+padding-top:9px;*+height:56px;}
.cooperative-partner ul li a{display:block; text-align:center;}
.cooperative-partner ul li a img{vertical-align: top}
{width:100%;position:relative; overflow:hidden;}
.slider ul{margin-left:56px;}
.slider .prev{ position:absolute;left:0px;top:137px;cursor:pointer;z-index:9999;}
.slider .next{ position:absolute;right:0;top:137px;cursor:pointer;z-index:9999;}
.main-text span{position: absolute;display: block;left: 45%; bottom: -3px;}
/*img 内容*/
.img-nr{width: 508px;padding-top:45px;position: absolute;z-index: 999;text-align: center;color: white;top: 0;
left:30%;}
.img-nr .dbt{font-size:45px;font-family:'Arial';font-weight:bold;}
.img-nr .img-wb{margin-top:36px;font-size:24px;font-weight:bold;}
.img-nr .img-btn{width:122px;margin-top:105px;}
.img-nr .img-btn b{font-size:24px;display:block;}
.img-btn a{display:block;width:118px;height:49px;border:2px solid #fff;border-radius:50px;font-size:18px;line-height:49px; text-align:center;color:#fff;}
#service .ImgList li{*+display:none;display:none\9;}
#service .ImgList li.cur{*+display:block;display:block\9;}
/*联系我们*/
.banner-lx{position:relative;overflow: hidden;width: 100%;height:200px;}
.banner-lx .banner-img{background:url(../images/banner-lx_02.jpg) 50% 50% no-repeat;width:100%;height:100%;position: absolute;top:0px;left: 0px;overflow: hidden;}
.contact-lx{height:943px; background:#f9f9f9;}
.contact-wrap{height:357px;}
.contact-wrap h3{text-align:center;padding-top:53px;}
/*map*/
.animate{-webkit-transition-duration:.5s;transition-duration:.5s; -moz-transition-duration:.5s;}
.animate20{-webkit-transition-duration:.25s;transition-duration:.25s; -moz-transition-duration:.25s;}
.animate2ms{-webkit-transition-duration:0.3s; -moz-transition-duration:0.3s; -ms-transition-duration:0.3s;transition-duration:0.3s;}
.animate{-webkit-transition-duration:0.5s; -moz-transition-duration:0.5s; -ms-transition-duration:0.5s;transition-duration:0.5s;}
.animate1{-webkit-transition-duration:1s; -moz-transition-duration:1s; -ms-transition-duration:1s;transition-duration:1s;}
.animate2{-webkit-transition-duration:2s; -moz-transition-duration:2s; -ms-transition-duration:2s;transition-duration:2s;}
.animate5{-webkit-transition-duration:5s; -moz-transition-duration:5s; -ms-transition-duration:5s;transition-duration:5s;}
#map { width: 100%; height: 475px; }
#contact { width: 100%; height: auto; overflow: hidden; }
#contact ul { max-width: 1000px; height: 210px; margin: auto; padding: 73px 0px; overflow: hidden;width:480px;}
#contact ul li { width: 48%; height: auto; float: left;margin: 0 1%;position: relative; cursor: pointer;}
#contact ul li .cTop { width: 100%; height: 167px;position: relative; z-index: 10;}
#contact ul li .cTop .icon { width: 70px; height: 70px; margin: auto; border-radius: 70px;text-align: center;}
#contact ul li .cTop .text { width: 100%; text-align: center; line-height: 30px; color: #da291c;}
#contact ul li .cBottom { width: 90%; height: 65px;line-height: 24px; text-align: center; background: #f6f6f6;position: absolute;left: 0; padding: 45px 5% 0; text-align: left; opacity:0; bottom: -20px;}
#contact ul li .cBottom .row{ width: 220px; height: auto;margin-bottom:6px;overflow: hidden; color: #da291c;}
#contact ul li .cBottom .row .icons{ width: 18px; height: 18px; float: left; font-weight: bold; color: #da291c; margin-left: 35px;}
#contact ul li .cBottom .row .icons img{ vertical-align:top;}
#contact ul li .cBottom .row .des{height: auto; float:left; font-size: 12px; line-height: 18px; margin-left: 10px;}
#contact ul li:hover .cTop{ -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px);transform: translateY(-10px);}
#contact ul li:hover .cBottom{ opacity: 1; bottom: 10px;}
/*招聘精英*/
.main-recruit{position:relative;overflow: hidden;width: 100%;height:1052px;}
.main-recruit .recruit-bj{ background:url(../images/zp-bj_02.jpg) 50% 50% no-repeat;width:100%;height:100%;position: absolute;top:0px;left: 0px;overflow: hidden;}
.recruit-content{width:1330px;height:810px;margin-top:109px; background:url(../images/lttp_03.png) no-repeat;}
.recruit-content h2{width: 240px; padding-top: 50px;}
.recruit-content .recruit-tab{width:1200px;height:497px;position: relative;top: -10px;}
.recruit-tab h3{width:1200px;height:33px; background:url(../images/zp-tab_03.png) no-repeat 75px center; text-align:center;}
.recruit-tab ul{width:1000px;margin:0 auto;padding-left: 32px;margin-left:135px;}
.recruit-tab ul li{float:left;display:block;height:33px;line-height:33px;width:110px;font-size:14px;
background:url(../images/line-nav_05.png) no-repeat right center;padding-right:30px;color:#fff;}
.recruit-tab ul li.li-first{width:206px; text-align:left;}
.recruit-tab ul li.li-end{ background:none;}
.recruit-table{margin-top:27px;position:relative;}
.recruit-table ul{background:url(../images/line-xian_03.jpg) no-repeat bottom center; height: auto;overflow: hidden;padding-bottom:10px;}
.recruit-table ul li{text-align:center; background:none;padding-top:10px;font-family:'宋体';}
.recruit-table ul li a{color:#fff;font-family:'宋体';}
.position-tp{position: absolute;z-index: 1;right: 165px; bottom: 140px;}
/*分页*/
.page-fy p{width:110px;height:auto;position:relative;margin-left:632px;overflow:hidden;}
.page-fy p a{display:block; font-size:28px;color:#aebacd; cursor:pointer;}
.page-fy p a em{font-style: italic;font-family:'Mazda Regular';display:block;}
.page-fy .first-one{ background:url(../images/sy_03.png) no-repeat left center;padding-left:25px;}
.page-fy .end-three{background: url(../images/next-ye_07.png)no-repeat right center;padding-right: 30px;float: left;margin:17px 0 0 52px;}
.page-fy p a.em-color{color:#fff;}
.line-page{ position:absolute;right: 34px;top: 16px;}
/*版权*/
.zp-bq{width:424px;height:25px;}
.zp-bq p{margin-top:63px;font-size:12px;color:#fff;}
.zp-bq p a{color:#fff;}
.zp-bq p img{ vertical-align:top;margin-right:5px;display:inline-block;}
/*招聘的tab*/
.recruit-nav{width:198px;height:185px;position:absolute;top:109px;left:41%;}
.nav-zl-qc{width:86px;height:113px;margin-top:72px;cursor:pointer;}
.nav-zl-qc li a{display:block;}
.nav-zl-qc li a.qc{ background:url(../images/qc_03.png) no-repeat;width:57px;height:64px;}
.nav-zl-qc li a.zl{margin-top:-15px; background:url(../images/zl-mr_03.png); width:54px;height:64px;}
.nav-zl-qc li.qcactive{ background:url(../images/zp-hv_03.png) no-repeat;width:54px;height:64px;}
.nav-zl-qc li.zlactive{ background:url(../images/zlzp_03.png) no-repeat;width:55px;height:64px; margin-top: -15px;float:right;}
.zp-tab-img{position: absolute;top: 0;right:0;cursor:pointer;}
.recruit-nav .recruit-test{position: absolute;right: -52%;top: 110px;}
.zp-tab-img-wz{right:138px;}
.zp-tab-img{display:none;}
.zp-tab-img.on{display:block;}
.zp-tab-img img{position:relative;}
.zp-tab-img .hbj-img{position: absolute;top: 1px;left: 2px;}
.lineF, .lineS
{
	position: absolute;
	visibility: hidden;
}
.lineS
{
	top: 182px;
	left: 105px;
}
.boxF, .boxS, .boxT, .overlay
{
	width: 128px;
    height: 149px;
	overflow: hidden;
}
.boxF, .boxS
{
	visibility: hidden;
}
.boxF
{
	transform: rotate(120deg);
	float: left;
	margin-left: 10px;
	-ms-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}
.boxS
{
	transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}
.boxT
{
	transform: rotate(-60deg);
	background: no-repeat 50% center;
	background-size: 125% auto;
	-ms-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
}
.overlay
{
	transition: all 250ms ease-in-out 0s;
	display: none;
	position: relative;
}
.overlay:hover
{
	background-color: rgba(0,0,0,0.6);
}
.boxT:hover .overlay
{
	display: block;
}
.overlay a
{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -16px 0 0 -16px;
	text-align: center;
	line-height: 32px;
}
/*弹窗*/
.layer-box{width:800px;height:550px; background:#fff;position:relative;}
.layer-box h3{height:45px; background:#da291c;font-size:16px;line-height:45px;padding-left:16px;color:#fff;}
.layer-wrap-content{width:714px;height:466px;margin:15px 0 0 15px;}
.layer-wrap-content ul{height:auto!important; overflow:hidden;}
.layer-wrap-content ul li{display:block;float:left;padding-right:47px;margin-bottom:15px;font-size:14px;font-family:'宋体';}
.layer-wrap-content ul li span{color:#da291c;}
.layer-wrap-content ul li span.layer-y{font-family:Arial;}
.layer-duty{width:100%;margin-top:15px;}
.layer-duty .layer-test{margin-top:13px;}
.layer-duty .layer-test p{font-size:14px;font-family:'宋体';line-height:23px;}
.layer-duty2{margin-top:30px;}
.layer-button{width:130px;height:40px; background:#da291c;margin:0 auto;margin-top:75px;}
.layer-button a{display:block; text-align:center;line-height:40px;color:#fff;font-size:14px;font-family:"宋体"}
/*二级弹窗*/
.zp-upload{width:438px;height:265px;background:#7f7f7f;display:none;position:absolute;z-index:9;top: 25%;left: 25%; opacity:0.8;}
.upload-wrap{width:421px;height:247px;background:#fff;margin:8px;position: absolute; top: 25%;left: 25%;z-index: 10;display:none;}
.upload-wrap p{color:#000;padding:12px 0 0 10px;font-size:14px;font-weight:bold;}
.upload-wrap p span{color:#999;}
.upload-form{width:300px;height:160px;margin:16px 0 0 62px;}
.upload-form p input{width:240px;height:22px;line-height:22px;margin-left:10px;border:1px solid #7f9db9;}
.upload-form .jl-tj{border:none;width:97px;height:30px;background:#da291c;color:#fff;font-size:14px;margin-left:45px;outline:none;cursor:pointer;}
.sc-neibtn{position: absolute;right: 10px;top: 8px; cursor:pointer; display:block;width:20px;height:20px;}


/*sliderBanner*/
.slideBox{ width:100%; height:650px; overflow:hidden; position:relative; }
.slideBox .hd{  overflow:hidden; position:absolute; right:5px; bottom:20px; z-index:1;width: 100%;}
.slideBox .hd ul{ overflow:hidden; zoom:1; text-align: center;width: 100%; }
.slideBox .hd ul li{ margin:0 10px;  width:10px; height:10px; text-align:center;
	background:#999;cursor:pointer;border-radius: 50%; display: inline-block; }
.slideBox .hd ul li.on{ background:#666; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:650px; display:block;  }
.slideBox2 .bd img,.slideBox2{height: 400px}
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(/images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
